<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{natureView.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img [src]="natureView.imagePath"></ion-img>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>{{natureView.description}}</p>
        </ion-item>
        <ion-item>
          <agm-map [latitude]="natureView.latitude" [longitude]="natureView.longitude">
            <agm-marker [latitude]="natureView.latitude" [longitude]="natureView.longitude" [markerDraggable]='false'></agm-marker>
          </agm-map>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>